<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.jey_dev.laftel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JeYTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".work1.ActWork1"/>
        <activity android:name=".work2.ActWork2"/>
        <activity android:name=".work3.ActWork3"/>
    </application>

</manifest>
